<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CL3</title>
</head>
<body>
    <div style="padding: 20px 30px">
        <h1>DAWI_CL3_VictorFalconi</h1>
        <button type="button" class="btn btn-primary" style="margin-right: 10px;">
            <a href="/" style="color: white;">Inicio</a>
        </button>
        <button type="button" class="btn btn-primary" style="margin-right: 10px;">
            <a href="/llamada" style="color: white;">Llamada</a>
        </button>
        <button type="button" class="btn btn-primary" style="margin-right: 10px;">
            <a href="/edades" style="color: white;">Edades</a>
        </button>
        <button type="button" class="btn btn-primary" style="margin-right: 10px;">
            <a href="/capicua" style="color: white;">Capicúa</a>
        </button>
        <button type="button" class="btn btn-primary" style="margin-right: 10px;">
            <a href="/ascii" style="color: white;">ASCII</a>
        </button>
        <h2 style="margin-top: 20px;">Ingrese la cantidad de minutos consumidos</h2>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Minutos</label>
            <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="llamada.minutos">
        </div>
        <button type="button" class="btn btn-primary" (click)="calcularPago()">Calcular</button>
        @if(mostrarMensaje) {
            <div class="alert alert-primary" role="alert" style="margin-top: 20px;">
                {{llamada.resultado}}
            </div>
        }
    </div>
</body>
</html>