<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CL3</title>
</head>
<body>
    <div style="padding: 20px 30px">
        <h1>DAWI_CL3_VictorFalconi</h1>
        <button type="button" class="btn btn-primary" style="margin-right: 10px;">
            <a href="/" style="color: white;">Inicio</a>
        </button>
        <button type="button" class="btn btn-primary" style="margin-right: 10px;">
            <a href="/llamada" style="color: white;">Llamada</a>
        </button>
        <button type="button" class="btn btn-primary" style="margin-right: 10px;">
            <a href="/edades" style="color: white;">Edades</a>
        </button>
        <button type="button" class="btn btn-primary" style="margin-right: 10px;">
            <a href="/capicua" style="color: white;">Capicúa</a>
        </button>
        <button type="button" class="btn btn-primary" style="margin-right: 10px;">
            <a href="/ascii" style="color: white;">ASCII</a>
        </button>
    </div>
</body>
</html>
