<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CL3</title>
</head>
<body>
    <div style="padding: 20px 30px">
        <h1>DAWI_CL3_VictorFalconi</h1>
        <button type="button" class="btn btn-primary" style="margin-right: 10px;">
            <a href="/" style="color: white;">Inicio</a>
        </button>
        <button type="button" class="btn btn-primary" style="margin-right: 10px;">
            <a href="/llamada" style="color: white;">Llamada</a>
        </button>
        <button type="button" class="btn btn-primary" style="margin-right: 10px;">
            <a href="/edades" style="color: white;">Edades</a>
        </button>
        <button type="button" class="btn btn-primary" style="margin-right: 10px;">
            <a href="/capicua" style="color: white;">Capicúa</a>
        </button>
        <button type="button" class="btn btn-primary" style="margin-right: 10px;">
            <a href="/ascii" style="color: white;">ASCII</a>
        </button>
        <h2 style="margin-top: 20px;">Generar tabla de caracteres ASCII</h2>
        <button type="button" class="btn btn-primary" (click)="generarLista()">Generar</button>
        @if(mostrarTabla) {
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Caracter</th>
                  </tr>
                </thead>
                <tbody>
                    @for (item of lista; track $index) {
                        <tr>
                            <td>{{item.codigo}}</td>
                            <td>{{item.caracter}}</td>
                          </tr>
                    }
                </tbody>
              </table>
        }
    </div>
</body>
</html>